* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}

header {
  margin: 0 auto;
  margin-top: 25px;
  padding: 3px;
  width: 82%;
  height: 13.5625em;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}  
  
header h1 {
  font-size: 24px;
  font-weight: 200;
  margin-left: 2px;
  color: hsl(234, 12%, 34%);
  line-height: 1.2em;  
  margin-top: 5px;
}

span {
  font-weight: 600;
  
}

header p {
  line-height: 1.5em;
  font-size: 1.3em;
  
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

/*------- Start Contents ---- */ 

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 82%;
  height: auto;
  
  flex-direction: column;     
}
  
.mdl {
  
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;  
}

img {
  margin-left: 200px;
  margin-top: 40px;  
  max-width: 100%;
  height: auto;
} 

h3 {
  line-height: 1.7em;
  color: hsl(234, 12%, 34%);
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: hsl(229, 6%, 66%);
}

.sup {
  background-color: #fff;
  width: 92.5%;
  height: 13.5625em;
  margin-top: 63px;
  padding-top: 20px;
  padding-left: 20px;
  border-top: 4px solid hsl(180, 62%, 55%);
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.team {
  background-color: #fff;
  width: 92.5%;
  height: 13.5625em;
  margin-top: 24px;
  padding-top: 20px;
  padding-left: 20px;
  border-top: 4px solid  hsl(0, 78%, 62%);
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.kar {
  width: 92.5%;
  height: 13.5625em;
  margin-top: 24px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fff;
  border-top: 4px solid  hsl(34, 97%, 64%);
  border-radius: 10px;  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.cal {
  background-color: #fff;
  width: 92.5%;
  height: 13.5625em;
  margin-top: 24px;
  padding-top: 20px;
  padding-left: 20px;
  border-top: 4px solid  hsl(212, 86%, 64%);
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  margin-top: 10px;
}

/* ================================================================
  Media Queries
================================================================ */

/* -------------- Desktop --------------- */
@media all and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
  }

  header {
    width: 45%;
  }

  header h1 {
    font-size: 2.5em;
    text-align: center;  
  }

  header p {
    text-align: center;
    font-size: 1.5em;
    
  }

  .mdl {
    width: 60%;
    height: 600px;
  }

  .sup {
    width: 55%;
    height: 250px;
    font-size: 1.3em;
    margin-right: 10px;
  }

  .team {
    width: 95%;
    height: 250px;
    font-size: 1.3em;
  }

  .kar {
    width: 95%;
    height: 250px;
    font-size: 1.3em;
  }

  .cal {
    width: 55%;
    height: 250px;
    font-size: 1.3em;
    margin-left: 30px;
  }

  img {
    margin-top: 80px;
    margin-left: 550px;
    
  }
}

/* ------------------ Tablet ------------------ */

@media all and (min-width: 768px) {

  header h1 {
    text-align: center;
  }

  header p {
    text-align: center;
  }

  .mdl {
    margin-left: 15px;
  }

  img {
    margin-left: 230px;
    margin-top: 50px;
  }
}

@media all and (min-width: 1024px) {
  .mdl {
    margin-left: 25px;
  }

  img {
    margin-left: 350px;
  }
}